.sec_sp p {
  text-align: justify;
}

.sec_sp {
  margin-bottom: calc(3rem + 5.128vw)
}

.service-section {
  margin-bottom: 0;
}

.service-section h3 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.service-section p {
  text-align: justify;
  margin-bottom: 0;
}

.service-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.service-list li {
  text-align: justify;
  margin-bottom: 0;
  position: relative;
  padding-left: 1.5rem;
}

.service-list li:before {
  content: "•";
  color: var(--secondary-color);
  position: absolute;
  left: 0;
  font-weight: bold;
} 